<h1>Criar tipo de receita</h1>

<% flash.each do |msg| %>
  <%= msg %>
<% end %>

<%= form_with model: @recipe_type do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.submit 'Enviar' %>
<% end %>
